{% extends "::layout-admin.html.twig" %}

{% block title %}
    {{ parent() }} - Tableau de bord
{% endblock %}

{% block body %}
    <section  class="admin-content">
        <div class="stats">
            <div class="stat">
                <p>Nombre total d'utilisateurs:</p>
                <p class="big-number">{{ users }}</p>
            </div>
            <div class="stat">
                <p>Nombre d'utilisateurs inscrits au prochain congrès:</p>
                <p class="big-number">{% if newCongres is not null %}{{ newCongres.registeredMembers|length }}{% else %}0{% endif %}</p>
            </div>
            <div class="stat last">
                <p>Nombre total de congrès:</p>
                <p class="big-number">{{ congres|length }}</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="admin-container">
            <h2>Congrès à la une: </h2>
            <div class="dashbord-new-congres">
                {% if newCongres is not null %}
                    {% if newCongres.image is not null %}
                        <img class="picture" src="{{ vich_uploader_asset(newCongres.image, 'file') }}" alt="{{ newCongres.image.alt }}">
                    {% else %}
                        <img class="picture img-congres-single" src="{{ asset('cipiqs/images/congres-default.jpg') }}" alt="Congrès défaut">
                    {% endif %}
                    <div class="text-box infos-congres">
                        <h2 class="title_home">{{ newCongres.title }}</h2>
                        <ul>
                            <li><i class="fa fa-calendar" aria-hidden="true"></i> : {{ newCongres.dateDay1|date('d/m/Y') }} & {{ newCongres.dateDay2|date('d/m/Y') }}</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> : {{ newCongres.localisation }}</li>
                            <li><i class="fa fa-users" aria-hidden="true"></i> : 12</li>
                        </ul>
                        <a class="btn" href="{{ path('tv_congres_edit', {'id':newCongres.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                        <a class="btn" href="{{ path('tv_user_members_registred_to_congress', {'id':newCongres.id}) }}"><i class="fa fa-users" aria-hidden="true"></i> Membres inscrits au congrès</a>
                    </div>
                    <div class="clearfix"></div>
                    <p>{{ newCongres.content }}</p>
                    <h3>Membres inscrits au congrès:</h3>
                        <a class="hidden-link" href="">Voir le tableau des membres insrcits</a>
                        {% if listCongressRegistration is not empty %}
                            <table class="registered-members">
                            <tr>
                                <th>N°</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Profession</th>
                                <th>Institution</th>
                            </tr>

                            {% for user in newCongres.registeredMembers %}
                                {% set count = count + 1 %}
                                <tr>
                                    <td class="number">{{ count }}</td>
                                    <td class="name">{{ user.lastName }}</td>
                                    <td class="name">{{ user.firstName }}</td>
                                    <td>{{ user.profession }}</td>
                                    <td>{{ user.institution }}</td>
                                </tr>
                            {% endfor %}
                            </table>
                            <a href="{{ path('tv_user_export_csv', {'id':newCongres.id}) }}" class="btn">Exporter</a>
                        {% else %}
                            <p>Aucun utilisateurs inscrits à ce congrès pour le moment</p>
                        {% endif %}
                {% else %}
                    <p>Aucun congrès à la une pour le moment.</p>
                {% endif %}
            </div>

        </div>
    </section>
{% endblock %}


