{% extends "::layout-admin.html.twig" %}

{% block title %}
    {{ parent() }} - Congrès
{% endblock %}

{% block body %}
    <section  class="admin-content">
        <div class="admin-container">
            <div class="delete-container">
                <h2>Bannir utilisateur</h2>
                <p>Etes vous sur de vouloir bannir {{ user.firstName}} {{ user. lastName }} ?</p>
                
                <form action="{{ path('tv_user_bannish', {'id': user.id}) }}" method="post">
                    <a href="{{ path('tv_user_index') }}" class="btn">Retour</a>
                    <input type="submit" value="Bannir" class="btn">
                    {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </section>
{% endblock %}


