{# src/TV/CipiqsBundle/Resources/views/Page/pebn.html.twig #}

{% extends "TVCipiqsBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - PEBN
{% endblock %}

{% block cipiqs_body %}
    
    <section class="new pebn">
        <div class="container">
            <h2>Projet Evidence Based Nursing</h2>
            <h3 class="first">1. Recommandations de bonnes pratiques en art infirmier:</h3>
            <ul>
                <li><a href="{{ asset('cipiqs/pdf/rbp1.pdf')}}" target="blank">Soins de plaies d’ulcères variqueux en soins à domicile.</a></li>
                <li><a href="{{ asset('cipiqs/pdf/rbp2.pdf')}}" target="blank">Rôle infirmier dans la prise en charge, à domicile, de patients adultes souffrant de douleur chronique. </a></li>
                <li><a href="{{ asset('cipiqs/pdf/rbp3.pdf')}}" target="blank">Rôle infirmier dans la prévention des escarres à domicile. </a></li>
                <li><a href="{{ asset('cipiqs/pdf/rbp4.pdf')}}" target="blank">Technique d'injection appropriée et notions sur la nutrition et l'exercice physique pour la prise en charge des patients adultes diabétiques de type 2, insulino-requérant, en soins à domicile.</a></li>
            </ul>

            <h3>2. Recherche sur:</h3>
            <p><a href="{{ asset('cipiqs/pdf/etude_elearning_fr.pdf')}}" target="blank">Faisabilité d’implémenter un programme de formation par e-learning auprès des infirmier(e)s en soins à domicile.</a></p>

            <p>Projet soutenu par la Ministre des Affaires sociales et de la Santé publique, Mme L. ONKELINX et subsidié par le SPF santé publique, Direction générale des soins de santé primaires</p>
        </div>
    </section>

    <section  class="pebn">
        <div class="container">
            <h2>Evidence Based Nursing en soins à domicile: Etat des lieux</h2>
            <p> Depuis 2006, la Ministre de la Santé publique L. Onkelinx encourage et apporte son soutien à l’intégration durable de l’Evidence-Based nursing (E-BN) au sein des soins de  santé de première ligne. Afin d'implémenter cette pratique sur le terrain, la CIPIQ-S, association subsidiée par le Service Public Fédéral de la Santé publique, a reçu pour mission la rédaction et la diffusion de recommandations de bonne pratique (RBP) en étroite collaboration avec les infirmiers en soins à domicile et les médecins généralistes.</p>
            <p>Les recommandations de bonne pratique (RBP) en art infirmier rédigées par la CIPIQ-S reposent sur des preuves scientifiquement établies et tentent d’apporter la réponse la plus appropriée aux besoins et aux difficultés exprimées par les acteurs du terrain. Durant ces dernières années, la CIPIQ-S a élaboré quatre recommandations et développé un réseau composé de professionnels des soins à domicile : infirmiers indépendants, infirmiers salariés, mais aussi organisations de soins à domicile, associations professionnelles, services intégrés de soins à domicile (SISD) et associations scientifiques de médecins généralistes. En collaboration avec ces professionnels de la santé, des outils (guide pratique, poster,…) ont été construits et adaptés aux besoins des intervenants de la première ligne de soins. Au travers ces outils, les recommandations sont résumées et transportables au chevet des patients.</p>
            <p>Cette démarche « bottom-up » (c’est-à-dire impliquant activement les acteurs de terrain aux différentes étapes de l’élaboration des guidelines),  favorise la mise en œuvre des recommandations scientifiques au cœur même de la pratique des soins à domicile.  </p>
            <p>Chaque année, les projets développés par la CIPIQ-S font l’objet d’un plan d’action validé et accompagné aux différentes étapes par un comité d’accompagnement (le Project Management Team (PMT)),  constitué de représentants du SPF Santé Publique, du cabinet de la ministre et d’experts dans le domaine de la recherche.</p>
            <p>Pour mener à bien ses missions, la CIPIQ-S a constitué une équipe de recherche composée de quatre chercheurs sous la supervision d’un coordinateur de projet et d’un comité d’accompagnement interne.</p>

            <h3>Méthodologie d’élaboration d’une recommandation de bonne pratique</h3>
            <p>Avant la rédaction d’une nouvelle recommandation, la CIPIQ-S réalise une analyse de besoins  auprès des infirmier(e)s en soins à domicile. Son objectif consiste à déterminer leurs attentes, les difficultés rencontrées ainsi que les pierres d’achoppement relatives à la problématique abordée. Parallèlement à cette enquête, une recherche et une analyse des guidelines et de la littérature scientifique disponible est réalisée sur base de la méthode ADAPTE[2]. Sur base des résultats obtenus, les questions de recherche et les domaines abordés dans la future recommandation peuvent ainsi être rédigés de façon précise.</p>
            <p>Une première version martyre de la recommandation est évaluée par un groupe d’experts du domaine étudié sur base de la méthode double delphi. Leurs remarques et commentaires peuvent donner lieu à une recherche de littérature complémentaire. Le système de recommandation GRADE[3] (Grading of Recommendations, Assessment, Development and Evaluation) est utilisé pour attribuer un niveau de preuve et un degré de recommandation aux messages clés véhiculés par la littérature scientifique utilisée. Après cette étape d’adaptation de la recommandation suite aux remarques des experts, ces derniers sont invités à participer à une réunion de consensus au cours de laquelle le texte et le niveau de preuve de chaque recommandation sont définis.</p>
            <p>La recommandation est ensuite diffusée auprès d’un groupe de résonance composé d’utilisateurs potentiels (infirmier(s) et médecins généralistes). Ces derniers évaluent la recommandation sur base d’un instrument validé (Grille AGREE[4]) et donnent leur avis sur l’utilité et l’applicabilité des recommandations sur le terrain.</p>
            <p>Enfin, la recommandation est soumise au CEBAM[5] qui évalue la méthodologie proposée et, moyennant l’apport éventuel de quelques adaptations, la valide. La RBP peut alors être publiée.</p>
            <p>Le choix des différentes thématiques abordées repose sur une analyse de besoins menées en 2007. Sept domaines ont été cités comme étant prioritaires par les infirmiers en soins à domicile. A l’exception de la première recommandation dont le sujet avait été défini par le PMT, le choix d’un nouveau sujet tient désormais compte des besoins exprimés.  Les aspects médicaux et la collaboration avec le médecin généraliste sont des sujets traités dans chaque recommandation. Même si une prescription médicale est obligatoire pour chaque acte infirmier à domicile, l’utilisation de recommandations evidence-based peut faciliter la collaboration avec le médecin généraliste et valoriser la profession infirmière.</p>

            <p>À ce jour, la CIPIQ-S a élaboré quatre recommandations.</p>
            <ul>
                <li>La recommandation concernant le « traitement des ulcères variqueux » (2007) met en évidence trois sujets indispensables à la prise en charge de ce type de patients à domicile : les soins de plaies, la compression et la prise en charge de la douleur.</li>
                <li>La recommandation relative au « Rôle infirmier dans la prise en charge, à domicile, de patients souffrant de douleur chronique » (2009) contient principalement des recommandations sur la prise en charge pluridisciplinaire des patients douloureux chronique ainsi que sur le modèle bio-psycho-social. Le rôle de l’infirmier à domicile dans les différents types d’évaluation de la douleur et les effets du traitement prescrit par le médecin sont aussi largement abordés. L’accent est mis sur la qualité de vie du patient. La directive contient également des recommandations sur l'utilisation appropriée des antalgiques et met un compendium à disposition des professionnels du domicile.</li>
                <li>La recommandation concernant « la prévention des escarres à domicile » (2011) est une adaptation[6] pour la pratique de soins à domicile de deux guidelines existants (EPUAP 2010 – Decubitus 2004), la définition du risque et la stratégie de prévention y sont particulièrement développées. Les aspects liées au traitement de la problématique n’ont pas été abordés. Une attention particulière concernant les matériaux utilisés, l'aspect nutritionnel et le rôle éducatif de l’infirmier à domicile y est également consacrée.</li>
                <li>Actuellement la CIPIQ-S travaille sur une quatrième RBP : « La prise en charge à domicile des patients adultes diabétiques de type 2 insulino-requérants». Elle contiendra des recommandations sur le contrôle de la glycémie, le traitement médicamenteux et l’administration correcte d'insuline. Des recommandations concernant l'alimentation, l’exercice physique et les particularités de la prise concomitante de médicaments non liés à cette pathologie sont également abordés.</li>
            </ul>

            <h3>Méthodologie d’élaboration des outils pratiques de diffusion</h3>
            <p>La lecture d’une recommandation (texte complet accompagné d’annexes) peut se montrer rébarbative. Lors de nos rencontres avec les infirmier(e)s en soins à domicile, ceux-ci ont émis le souhait de disposer d’un tableau récapulatif synthétisant les recommandations applicables qu’ils pourraient transporter jusqu’au chevet du patient. Des brochures expliquant ces recommandations s’avèrent être les outils les plus appropriés pour les infirmier(e)s. Des posters peuvent être affichés dans un local d’équipe ou être utilisés lors de formations, voire de congrès. Elaborés en collaboration avec le terrain et validés par les experts, une version martyre de ces outils est modélisée par un graphiste puis imprimée en une centaine d’exemplaires en néerlandais et en français.  La forme et le contenu de cette brochure martyre sont testés auprès des acteurs de terrain. La brochure fait ensuite l’objet d’éventuelles adaptations en fonction des remarques et commentaires.  La version finale est alors transmise au SPF Santé publique pour approbation et diffusion à un large public.</p>

            <h3>Méthodologie de diffusion des guidelines et de leurs outils</h3>
            <p>Après avoir été validée par le CEBAM et avoir reçu l’autorisation du SPF santé publique, la publication du guideline et de ses outils est annoncée via le réseau de professionnels des soins de première ligne ainsi qu’au travers des annonces dans les revues professionnelles infirmiers. Le texte de la RBP est téléchargeable gratuitement sur les sites web de la CIPIQ-S et du SPF Santé publique. Les outils de diffusion qui l’accompagnent sont imprimés selon un tirage[7] déterminé et mis à la disposition des infirmiers à domicile. Ils sont également téléchargeables via les sites web mentionnés (Cf. infra)[8].</p>
            <p>En 2009, une enquête évaluant la qualité de la diffusion des outils, conçus pour favoriser l’application des recommandations, a montré qu’il était nécessaire de tenir compte des différences de statuts, de conditions de travail, de l’hétérogénéité des pratiques et des degrés d’activité en soins à domicile mais aussi de consolider un engagement durable de tous les acteurs et de toutes les organisations impliqués. Une concertation avec ces partenaires est indispensable pour envisager les modalités d’accès aux informations disponibles par tous les infirmiers à domicile.</p>

            <h3>Tableau récapitulatif des recommandations et des outils de diffusion élaborés</h3>
            <table>
                <tr>
                    <th></th>
                    <th>RBP validée en</th>
                    <th>Outils validés en</th>
                    <th>Diffusion en</th>
                    <th>Révision en</th>
                </tr>
                <tr>
                    <td>Ulcères variqueux</td>
                    <td>Septembre 2007</td>
                    <td>Avril 2008</td>
                    <td>Novembre 2009</td>
                    <td>Proposée en 2013</td>
                </tr>
                <tr>
                    <td>Douleur chronique</td>
                    <td>Février 2009</td>
                    <td>Octobre 2010</td>
                    <td>Décembre 2011</td>
                    <td>Proposée en 2015</td>
                </tr>
                <tr>
                    <td>Prévention escarres</td>
                    <td>Septembre 2011</td>
                    <td>En 2012</td>
                    <td></td>
                    <td>Proposée en 2017</td>
                </tr>
                <tr>
                    <td>Diabète type 2 insulino-requérant</td>
                    <td>En 2012</td>
                    <td></td>
                    <td></td>
                    <td>Proposée en 2019</td>
                </tr>
            </table>

            <h3>Plan d’action 2012</h3>
            <p>Cette année,  la brochure relative à la « prévention des escarres à domicile » et la RBP concernant « la prise en charge des patients adultes diabétiques de type 2 insulino-requérants » seront évaluées par des experts et testées par un groupe de résonance.</p>
            <p>Une étude de faisabilité concernant l’élaboration d’une plateforme e-learning pour les soins à domicile sera également mise en œuvre.</p>
            <p>Une attention toute particulière sera portée à la publication et à la diffusion des directives existantes auprès des professionnels. Un forum sera organisé, en décembre 2012, au SPF Santé Publique, afin de pouvoir aller directement à la rencontre des acteurs de terrain pour les informer sur le contenu et la disponibilité de ces directives. La CIPIQ-S participera également à différentes conférences scientifiques.</p>
            <p>Par son soutien structurel à la CIPIQ-S et par la diffusion des directives, le SPF Santé publique souligne l’importance qu’il accorde aux preuves scientifiques sur lesquelles se fondent les recommandations rédigées par l’association. Leur implémentation dans la pratique des soins quotidienne qui garantit l’apport de soins de qualité au chevet du patient reste néanmoins tributaire de la poursuite et de la volonté de collaboration de tous les acteurs concernés.</p>

            <p class="right">Dominique Putzeys/Luc Heirstrate/Caroline Bou</p>

        </div>
    </section>

{% endblock %}